{% extends 'layouts/base.html' %}
{% load extra_filters %} 

{% block content %}
{% if is_content_manager == False %}
    {% if user.is_authenticated %}
        <h1>{% if vista.vista %} ✔️ {% else %} ⏰ {% endif %} {{ peli.name }}</h1>
    {% else %}
        <h1>{{ peli.name }}</h1>
    {% endif %}
{% endif %}
    {% for star in full_stars %}
            <span class="star-container">
                <span class="star">{{ star|safe }}</span> <!-- Estrella llena -->
            </span>
        {% endfor %}
        {% if half_star %}
            <span class="star-container">
                <span class="empty-star">★</span> <!-- Estrella llena base -->
                <span class="half-star">★</span> <!-- Media estrella -->
            </span>
        {% endif %}
        {% for star in empty_stars %}
            <span class="star-container">
                <span class="empty-star">{{ star|safe }}</span> <!-- Estrella vacía -->
            </span>
        {% endfor %}
    <p>{{ peli.description }}</p>
    <p>Genero: {{ peli.genere }}</p>
    <img src="{{ peli.image.url }}" alt="{{peli.id}}" style="width: 20%; height: auto; border-radius: 8px; margin-bottom: 10px;";>
{% if is_content_manager == False %}
    {% if user.is_authenticated %}
        <form action="{% url 'mark_pelicula_vista' peli.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="mark-button">Marcar como vista</button>
        </form>
    {% endif %}
{% endif %}

<style>
    .mark-button {
        padding: 8px 12px;
        font-size: 0.9em;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

    .star-container {
            display: inline-block;
            position: relative;
            font-size: 24px;
        }

        .star {
            color: gold;
            display: inline-block;
        }

        .half-star {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            overflow: hidden;
            color: gold;
        }

        .empty-star {
            color: lightgray;
            display: inline-block;
        }

</style>

{% endblock %}